.ingredients_card {
	max-width: 272px;
	height: 208px;
	list-style: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.ingredients_price {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 9px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.ingImage {
	width: 240px;
	height: 120px;
	object-fit: contain;
}