.constructor {
	max-width: 600px;
}

.constructor_list {
	max-width: 600px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: scroll;
	overflow-x: hidden;
}

.ingredient_dragIcon {
	visibility: hidden;
}

.constructor_total {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	margin-left: 222px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37;
	padding-top: 20px;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background: #8585AD;
}

::-webkit-scrollbar-button {
	display: none;
}