.nutrition_values {
	list-style: none;
	width: 100%;
	display: grid;
	justify-items: center;
	grid-template-columns: 1.2fr 1fr 1fr 1fr;
	gap: 20px;
}

.ingredient_details {
	max-width: 520px;
	margin: 16px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ingredient_illustration {
	max-width: 480px;
	margin: 0 auto;
	object-fit: contain;
}

.value_item {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	margin: 0;
	padding: 0;
}